* {
    font-family: 'Source Sans Pro', 'Courier New', Courier, monospace;
    text-align: center;
    color: #F0F0F0;
    background-color: #0F0F0F;
    font-size: 2.5vmin;
}

h1 {
    font-size: 8vmin;
    color: #c97d60;
    padding: 0px;
    position: relative;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-around;
}

input, select, button {
    border: none;
    border-radius: 0.5vmin;
    background: #333;
}

input {
    color: #c97d60;
}

button:active {
    background-color: #c97d60;
    border: none;
}

#button-feedback {
    color: #c97d60;
}

#leftClock, #rightClock {
    font-size: 40px;
}

#rightClock, #periodMarkerRight {
    position: relative;
    left: 5vw;
    padding: 0px;
}

#leftClock, #periodMarkerLeft{
    position: relative;
    right: 5vw;
    padding: 0px;
}

footer {
    position: fixed;
    background-color: #202020;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1vmin;
    font-size: 2vmin;
}

header {
    position: absolute;
    background-color: #202020;
    top: 0;
    left: 0;
    right: 0;
    padding: 1vmin;
    font-size: 2vmin;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: #c97d60;
    background-color: inherit;
    font-size: inherit;
}

div {
    /* this is empty but needs to exist so that the js can use it */
}

#settingsContent, #settingsButton {
    background-color: #202020;
    display: flex;
    justify-content: left;
}

#settingsContent {
    display: none;
}

#settingsButton:active {
    background-color: #333;
}

#cornerLinks {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: right;
    padding: 1vmin;
    z-index: 1;
}

ul, li {
    list-style-position: inside;
}

/*.github-button {
    display: block;
    position: relative;
    text-align: right;
    right: 0;
}*/