html {
    font-size: 100%;
}

* {
    font-family: 'Source Sans Pro', 'Courier New', Courier, monospace;
    text-align: center;
    color: #F0F0F0;
    background-color: #0F0F0F;
    font-size: 1.1em;
}

h1 {
    font-size: 5em;
    color: #c97d60;
    padding: 0px;
    position: relative;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-around;
}

input, select, button {
    border: none;
    border-radius: 10%;
    background: #333;
}

input {
    color: #c97d60;
}

button:active {
    background-color: #c97d60;
}

#button-feedback {
    color: #c97d60;
}

#leftClock, #rightClock {
    font-size: 40px;
}

#rightClock, #periodMarkerRight {
    position: relative;
    left: 100px;
    bottom: 25px;
    padding: 0px;
}

#leftClock, #periodMarkerLeft{
    position: relative;
    right: 100px;
    top: 25px;
    padding: 0px;
}

footer {
    position: fixed;
    background-color: #111;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

a {
    color: #c97d60;
    background-color: #111;
}